body {
    background-color: #f0f3f4 !important;
    max-width: 375px;
}

p {
    font-family: Europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.2em;
    color: #303030;
 }

 .button {
    background: linear-gradient(to bottom right, rgba(252,152,66,1) 0%, rgba(232,121,71,1) 100%);
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
    border-radius: 50px 50px 50px 50px;
    border: none;
    text-align: center;
    width: 100%;
    padding: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
 }

 .invoerveld {
    border-radius: 7pt;
    background-color: #E5E5E5;
    font-size: 1.2em;
    color: #707070;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
 }

input.invoerveld {
    font-family: Europa-Light;
    font-size: 1.2em;
    color: gray;
}

 h1 {
    font-size: 1.45em !important;
    color: #303030;
    font-family: 'Fauna One', serif !important;
    text-align: center;
}

.header{
    width:105%;
    height:40%;
    left:-3%;
    position:absolute;
    background-image: linear-gradient(#00559F, #0875D4);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.header2{
    width: 105%;
    height: 43%;
    left: -3%;
    position: absolute;
    background-color: #1167B1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.header-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -5;
}

  .legecontainer {
      height: 400px;
  }

  .logo-met-tekst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }

  .logo-cirkel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }

  .logo-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
  }

  /* Bedrijfspagina */
  .back-icon {
    padding-top: 12% ;
    padding-left: 10% !important;
  }

  @media screen and (max-height: 690px) {
    .back-icon {
      padding-top: 8%;
    }
  }

  .logo-score {
    margin-bottom: 15px;
  }

  .logo-company img {
  border-radius: 100px;
  width: 75%;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
  /* opacity: 0.8; */
  }

  .score {
    margin-top: 12.5%;
  }

  .score-point {
    position: absolute !important;
  }

  .score-point div {
    border-radius: 100px;
    background-color: #FFFFFF;
    /* background: url(...); */
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
  }

  .score-point p {
    color: #1167B1 !important;
    font-weight: 400 !important;
    font-size: 1em;
    margin: 0px !important;
    /* text-align: center; */
  }

  .score-toelichting {
    position: absolute !important;
  }

  .score-toelichting p {
    color: #FFFFFF;
    font-size: 0.75em !important;
  }

  .bedrijfsnaam h1{
    text-align: center;
    color: #FFFFFF !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }

  .bedrijfsnaam p{
    text-align: center;
    color: #FFFFFF !important;
    font-size: 0.95em !important;
  }

  .matchortrash {
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    align-items: center;
  }

  .matchortrash button {
    padding: 0;
  }

  .data {
    height: 375px;
    background-color: #70A3D0;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .data h1 {
    text-align: center;
    color: #FFFFFF !important;
  }

  .data-input {
    text-align: center;
    background-color: #FFFFFF !important;
    opacity: 0.8;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
    margin: 11px;
    padding: 5%;
    height: 125px;
    border-radius: 10px;
  }

  .data-input img {
    text-align: center;
    width: 95%;
  }

  .btn-extra {
    text-align: center;
    margin-bottom: 12%;
  }

  .btn-extra a {
    color: #959595 !important;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .choice-made {
    opacity: 0.6 !important;
  }

  #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #70A3D0;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px 10px 3px 10px;
  position: fixed;
  z-index: 1;
  left: 33%;
  }


  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }

  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {top: 0px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {top: 0px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  /* Vergeet-me verzoek indienen pagina */
  .link-underline p {
    color: #707070;
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .options a {
    padding-top: 30px;
  }

  .title h1 {
      font-size: 1.5em; !important;
      padding-top: 15%;
  }

  .title p {
    text-align: center;
    font-size: 1em !important;
  }

  .illustration {
    padding-bottom: 4%;
  }


  .illustration img {
    padding: 60px 20px 60px 20px;
    margin: 50px 0 50px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15pt;
  }

  .vergeet-me-verzoek-page {
      background-color: #1167B1;
      background-size: cover;
      /* height: 100%; */
      /* padding-bottom: 30%; */
  }

  .white a, p, h1{
    color: #FFFFFF !important;
  }

/* Info vergeet-me verzoek pagina */
.header-2{
    width:105%;
    height:48%;
    left:-3%;
    position:absolute;
    background-image: linear-gradient(#00559F, #0875D4);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.header2-2{
    width: 105%;
    height: 51%;
    left: -3%;
    position: absolute;
    background-color: #1167B1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.header-container-2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -5;
}

.logo-Footprint img {
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
}

.info-vergeet-me {
  margin-top: 22%;
}

.info {
  background-color: #70A3D0;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
  border-radius: 10px;
  border: 10px solid #70A3D0;
  margin-bottom: 10%;
}

/* Vergeet-me verzoek ingediend pagina */
.offline-notification {
  transition: transform 0.3s;
  transform: translateY(-100%) translateX(-50%);
  position: fixed;
  left: 50%;
  background: linear-gradient(to bottom right, rgba(252,152,66,1) 0%, rgba(232,121,71,1) 100%);
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
}

.ingediend {
  opacity: 0.6;
}
